.dialogue {
  font-family: "Cairo";
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 100px;
  background-image: url(../../assets/images/dialogue/dialogue_img.svg);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: 50%;
  @include respond-below(md) {
    background-size: 80%;
    min-height: 55vh;
    padding: 10px 20px 20px;
    background-position: bottom;
    justify-content: flex-start;
  }
}

.dialogue_icons {
  display: flex;
  justify-content: flex-start;
  gap: 30px;

  @include respond-below(md) {
    margin-top: 24px;

    gap: 5px;
    justify-content: center;
    img {
      max-height: 25px;
    }
  }
}

.dialogue_title {
  font-family: "Cairo";
  font-style: normal;
  font-weight: 700;
  font-size: 2.2rem;
  color: #2f354d;
  margin-bottom: 2rem;
  text-transform: none;
  position: relative;
  &:after {
    content: "";
    border-radius: 4px;
    position: absolute;
    width: 30px;
    border: 2px solid #ff2800;
    height: 0;
    bottom: -10px;
    left: 0%;
    @include respond-below(md) {
      left: 45%;
    }
  }
  @include respond-below(md) {
    font-size: 1.4rem;
    text-align: center;
  }
}

.dialogue_desc {
  width: 40%;

  @include respond-below(md) {
    width: 100%;
    text-align: center;
  }
}
